.todoItemGroup {
    border: 2px solid black;
    display: inline-flex;
    border-radius: 25px;
}

.todoItem {
    width: 30vh;
    cursor: pointer
}

/* .todoItem span{
    text-decoration: line-through;
  } */

.todoList {
    background-color: #282c34;
}

.delete-btn {
    background-color: pink;
    border-radius: 25px;
}